/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #f5f5f5;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
  }
  
  
/* Estilos para la interfaz */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

td button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

td div {
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
}

/* Estilos adicionales para resaltar los ejemplos */
td button,
td div {
    transition: background-color 0.3s;
}

td button:hover,
td div:hover {
    background-color: #ddd;
}
